<div class="module controller" data-module="gp-boilerplate-documentation/modules/panel/preview/general" data-controller="gp-boilerplate-documentation/modules/panel/preview/General" data-chunk="gp-boilerplate-documentation"
{{#if wrapperSelector}} data-wrapper-selector="{{{wrapperSelector}}}"{{/if}}{{#if rowSelector}} data-row-selector="{{{rowSelector}}}"{{/if}}
{{#if backgroundSelector}} data-background-selector="{{{backgroundSelector}}}"{{/if}} data-name="general" data-title="General Options"{{#if target}} data-target="{{{target}}}"{{/if}}><span></span></div>
