---
zeplin: #
---
<div class="module" data-module="gp-boilerplate-documentation/modules/detail/concept">
  <ul>
    {{#with zeplin.mobile}}<li><a href="{{{this}}}" class="externals-zeplin" title="Zeplin Mobile" data-symbol="M" target="_blank"><i class="image-zeplin"></i></a></li>{{/with}}
    {{#with zeplin.desktop}}<li><a href="{{{this}}}" class="externals-zeplin" title="Zeplin Desktop" data-symbol="D" target="_blank"><i class="image-zeplin"></i></a></li>{{/with}}
  </ul>
</div>
