---
auto-initialize: false
---
<div class="module controller{{#if class}} {{{class}}}{{/if}}" data-module="gp-boilerplate-documentation/modules/debug" data-controller="gp-boilerplate-documentation/modules/Debug" data-chunk="gp-boilerplate-documentation/panel/debug"{{#if auto-initialize}} data-auto-initialize="true"{{/if}}></div>
