.module[data-module*="gp-boilerplate-documentation/modules/panel"] {
  fieldset {
    border: none;
    margin: 0;
    padding: 0;
    legend {
      width: 100%;
      display: block;
    }
  }
  >.panel__features {
  }
  ul {
    margin: 0;
  }
}
