{{#each columns}}
  <div class="grid-col-1-{{{../columnCount}}}" style="{{#if ../columnColor}} color: {{../columnColor}};{{/if}}{{#if ../columnOpacity}} opacity: {{{../columnOpacity}}};{{/if}}"><span></span></div>
{{/each}}
