<div class="module controller" data-module="gp-boilerplate-documentation/modules/panel/debug/breakpoint" data-controller="gp-boilerplate-documentation/modules/panel/debug/Breakpoint" data-chunk="gp-boilerplate-documentation/panel/debug" data-name="breakpoint" data-title="Breakpoint"{{#if target}} data-target="{{{target}}}"{{/if}} ><span></span></div>
