<div class="module controller" data-module="gp-boilerplate-documentation/modules/panel/debug/perfbar" data-controller="gp-boilerplate-documentation/modules/panel/debug/Perfbar" data-chunk="gp-boilerplate-documentation/panel/debug" data-name="perfbar" data-title="Perfbar"{{#if target}} data-target="{{{target}}}"{{/if}}></div>
