<div class="module controller" data-module="gp-boilerplate-documentation/modules/panel/debug/stats" data-controller="gp-boilerplate-documentation/modules/panel/debug/Stats" data-chunk="gp-boilerplate-documentation/panel/debug" data-name="stats" data-title="Stats"{{#if target}} data-target="{{{target}}}"{{/if}}></div>
