/* Variables */

@import "gp-boilerplate-documentation/vars.pcss";

/* Icons */

[data-module^="gp-boilerplate-documentation"] {
  .image-zeplin {
    background-image: url(./assets/zeplin.svg);
  }
}
