/* Variables */

@import "gp-boilerplate-documentation/vars.pcss";

/* Elements */

@import "gp-boilerplate-documentation/modules/elements/headline.pcss";
@import "gp-boilerplate-documentation/modules/elements/accordeon.pcss";
@import "gp-boilerplate-documentation/modules/elements/link.pcss";

/* Detail */

@import "gp-boilerplate-documentation/modules/detail.pcss";
@import "gp-boilerplate-documentation/modules/detail/code.pcss";
@import "gp-boilerplate-documentation/modules/detail/concept.pcss";
@import "gp-boilerplate-documentation/modules/detail/preview.pcss";
@import "gp-boilerplate-documentation/modules/detail/related-partials.pcss";

/* Overview */

@import "gp-boilerplate-documentation/modules/overview.pcss";
@import "gp-boilerplate-documentation/modules/overview/content.pcss";
@import "gp-boilerplate-documentation/modules/overview/menu.pcss";

/* Icons */

[data-module^="gp-boilerplate-documentation"] {
  .image-zeplin {
    background-image: url(./assets/zeplin.svg);
  }
}
